body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    color: #8FA871;
    background: rgb(240, 230, 213);
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

h1{
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
    text-decoration: overline underline #8FA871;
}

h2{
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p{
    margin: 0 0 1.5em 0;
}

img {

    max-width: 100%;
    height: auto;
}

#m-header{
    background: rgb(95, 105, 68);
    color: #white;
    height: 80px;
}

#m-header a {
    color: white;
}

#m-header {
    background: rgb(95, 105, 68);
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: #ob76a6;
}

#logo-header .p-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .p-desc { 
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: rgb(203, 189, 162);
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #ob76a6;
}

#m-content {
    background: white;
    width: 90%;
	max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    
    
}

#m-content header,
#m-content .content {
    padding: 40px;
}

#m-footer {
    background: rgb(95, 105, 68);
    color: white;
    text-align: center;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#m-footer p {

    margin: 0;

}

#m_footer a {
    color: white;
}